@font-face {
  font-family: "TTLakes";
  src: url("assets/fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("assets/fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("assets/fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("assets/fonts/TTLakes-Thin.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.readmore {
  display: none;
}
* {
  box-sizing: border-box;
  font-family: "TTLakes", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
.header {
  background-color: #ffffff;
  padding: 16px;
}
.header h1 {
  font-size: 16px;
  font-weight: 400;
}

.swiper {
  position: relative;
  padding: 16px !important;
  width: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-inactive-color: #b5b6bc;
  padding-bottom: 32px !important;
}
.swiper .swiper-slide {
  height: 72px;
  width: 240px;
  text-align: center;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
}
.swiper-pagination {
  display: block;
  bottom: 0px !important;
  color: #b5b6bc;
}

.ic__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ff3e79;
}

@media (min-width: 768px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .readmore {
    display: flex;
      align-items: center;
      padding: 16px;
  }
  .readmore__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
  }
  .swiper {
    width: 100%;
    padding-bottom: 0px !important;
  }
}

.hidden {
  display: none !important;
}
